.head{
    height:63px;
    text-align:center;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align-all: center;
}

.head > span {
    display:block;
    text-align:center;
    z-index:140;

    height:60px;
}

.trang{
    margin-right:auto;
    margin-left: auto;
    margin-top:70px;
    width:0px;
    height:200px;
    border: 50px solid transparent;
    border-top: 26px solid rgb(50,50,50);
    z-index: 112;
}

.text1{
    padding-left:30%;
}

.text2{
    padding-left:5%;
}

.text3{
    padding-left:20%;
}

.text4{
    padding-left:5%
}

.img {
    text-align: center;
}

.content_main{
    margin-left: 20%;
    margin-top:-300px;
    padding:100px;
}

.head_tr{
    position: static;
    border: 50px solid transparent;
    border-top: 30px solid rgb(50, 50, 50);
}

.main {
    background-color: rgb(46, 179, 152);
    height:400px
}

#anderson{
    margin-left:11.76%;
    margin-top:100px;
    z-index:100;
}

h2{
margin-top:-40px;
}

.content{
    margin-top:-20px;
    margin-left:500px;
}

.vert_line{
    position:static;
    margin-left:50px;

    height:300px;
    width: 1px;
    background-color: black;

}

.Background {
    background-color: rgb(46, 179, 152);
    position: absolute;
    left: 0px;
    top: 784px;
    width: 1020px;
    height: 341px;
    z-index: 40;
}

.gtch{
    margin:0px;

}

.input{
    border-color: rgb(60,60,60);
    margin: 0px 0 16px 120px;
    height:58px;
    width:580px;
    background-color:rgb(69,69,69);
    border:0;
}

.background{
    background-color: rgb(50,50,50);
}

#last_message{
    height:149px !important;
}

#line1{
    margin-left:32px;
    margin-top:14px;
    margin-bottom:53px;
    background-color: rgb(43,43,43);
    height:1px;
    weidth:960px;
}

#h2{
    margin-left:120px;
}

#p{
    margin:0 0 0 120px;
}

.about{
    margin-top:-415px;
    margin-left:800px;
}

.smallimg{
    margin-left:40%;
    text-decoration: none;
    font-size: 12px;
    font-family: "Lato";
    color: rgb(190, 190, 190);

}
.smallimg:hover {
color:#0085a1;
}

#footer{
    height:41px;
    margin-top:300px;
    margin-bottom:0;
    padding-top:1px;
    background-color: rgb(34,34,34);
}

.sliderA {
margin-top:0;
    width: 100%;
    height: 721px;
    background-color: white;
    border: 1px solid #888;
    position: static;

}

.sliderA > input {
    display: none;

}

.sliderA > input + label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color:white;
    border: 2px solid rgba(190, 190, 190, 0.8);
    cursor: pointer;
    z-index: 100;
    position: relative;
    top: 90%;
    transition: background 0.8s ease-out 0s;
}

.sliderA > input + label:hover {
    background: rgba(250, 250, 250, 0.8);
}

.sliderA > input:checked + label {
    background: rgba(220, 220, 220, 0.8);
}

.sliderA > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}

.Lorem_ipsum_dolor_sit_amet__consectetur_adipisc {
    font-family: "Lato-Light";
    position: absolute;
    left: 318.837px;
    top: 938.552px;
    z-index: 72;
}

.navbar {
    text-align: center;
}

ul {
    display: -webkit-inline-flex;
    zoom: 1;
    font-size: 12px;
    padding: 0;
margin-left:10px;

}

li {
    justify-content: space-between;
}

.nav-image {
    margin-top: -8px;
    list-style: none;
}

.list {
    margin-left: 35px; /* Отступ слева */
    font-size: 18px;
    float: left;
}

.list > a {
    padding-top: 100px;

}
.list-no-point{
    font-size: 18px;
    float: left;
    list-style: none;
    z-index:10000000;
}

.nav-link{
    text-decoration: none;
    font-family: Lato;
    font-weight: bold;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.nav-link:hover {
    color: #0085a1;
}

.list-no-point:hover{
    color: rgba(255, 255, 255, .8);
}

.nav-link-left, .list{
    z-index:10000001;
}
.social{
    margin-top:-80px;
    margin-left:70%;

}
.links_index{
    z-index:10000000;

}

.links_index:hover{
    color: #0085a1;
}

.anderson{

    margin-left:1%;
}

.anderson-row2{

    margin-right: 1%;
}
.anderson-row3{

    margin-right:1%;
}

.hexal-group {
    margin-top:7%;
    margin-left:30%;
    margin-right:10%;

}

.hexal-group-row2 {
    margin-top:16%;
    margin-left:25.35%;
    margin-right:10%;
}

.hexal-group-row3{
    margin-top:25%;
    margin-left:30.56%;
    margin-right:10%;
}

.abouttext{
    font-size: 12px;
    font-family: Lato;
    color: rgb(215, 252, 245);
    line-height: 1.797;
    width:10px;
}

.rtg {
    padding-right:60%;
}

.about {
    padding-right:900px;
    margin-left:40%;
    color: rgb(224, 224, 224);
    line-height: 1.797;
    font-size: 12px;
    font-family: "Lato";
}

.button {
    width:90px;
    height: 37px;
    background-color: rgb(46,179,152);
    border:0;
    margin-top:0px;
    margin-left:32.5%;
}

.Get_In_Touch {
    font-size: 30px;
    font-family: "MavenProRegular";
    color: rgb(224, 224, 224);
    line-height: 0.152;
    text-align: justify;
    z-index: 39;
    margin-left: 120px;
}

.In_order_to_get_in_touch_use_the_contact_form_b {
    font-size: 18px;
    font-family: "MavenProRegular";
    color: rgb(190, 190, 190);
    line-height: 1.198;
    text-align: justify;
    width: 421px;
    height: 17px;
    z-index: 38;
    margin-left: 120px;
}

.Smith_Anderson {
    font-size: 30px;
    font-family: "MavenProRegular";
    color: rgb(215, 252, 245);
    text-align: justify;
    z-index: 80;
}

.Illustrator___Character_Designer {
    font-size: 18px;
    font-family: "MavenProRegular";
    color: rgb(32, 129, 109);
    text-align: justify;
    z-index: 79;
}




